<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <script th:src="@{/js/jquery.min.js}" ></script>
    <script th:src="@{/js/afquery.js}" ></script>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
</head>
<body>
<div th:fragment="header">

     <script>
         var com={};

         com.pageUrl = function(pageNumber){
             var url = "[[@{/search}]]";
             url += '?pageNumber=' + pageNumber ;
             var filter = $('.filter').val().trim();
             if(filter.length>0)
                 url += '&filter=' + encodeURIComponent(filter);
             else
                 url += '&filter=""';
             return url;
         }

         com.search=function (){
             var loc=com.pageUrl (1);
             if(loc)
                location.href = loc;

         }


     </script>
    <div class='header'>
        <div style="float: left;position: absolute;left: 20px"><button style="color: #2D93CA;font-size: 14px;" onclick="history.back();">返回</button></div>

        <div style="font-size: 24px;line-height:70px;position: absolute;left:200px;font-weight: bold;">图书管理系统</div>
        <div class="search"  >
            <input class="filter" type="text" placeholder="查询书籍信息" onkeydown='if(window.event.keyCode==13) {com.search();} '>
            <img th:src="@{/img/search.png}" onclick="com.search()" class="search-icon">

        </div>
        <div class="dropdown" style="left: 1110px;position: absolute;top:0px">
            <img th:src="@{/img/drop.png}"  class="dropbtn">
            <form class="dropdown-content" style="text-align: center;" th:action='@{/book/query}' method="post" autocomplete="off">
                <input name="title" placeholder="书名">
                <input  name="category" placeholder="类别" >
                <input  name="author" placeholder="作者">
                <input  name="ISBN" placeholder="ISBN">
                <input type="submit" value="查询" style="border-radius: 3px; color:white;background-color: #2EA44F;border: 0px;font-family:Microsoft YaHei,微软雅黑,MicrosoftJhengHei,华文细黑,STHeiti,MingLiu;"
                >
            </form>

        </div>

        <!--			用户头像-->
        <div class="user-thumbnail" th:switch='${session.userID!=null}'>
            <th:block th:case="false">
                <img th:src="@{/img/user.jpg}" style="width: 50px;height: 50px;border-radius:50%">
                <span style="position: absolute;
                left: -14px;top:52px;color:whitesmoke;width: 80px;text-align: center" class="preferredFont" >未登录</span>
            </th:block>
            <th:block th:case="true">
                <img th:src="@{/user/photo}" style="width: 50px;height: 50px;border-radius:50%">
                <span th:text="${session.userName}" style="position: absolute;
                left: -14px;top:52px;color:whitesmoke;width: 80px;text-align: center" class="preferredFont" ></span>
                <span><a th:href="@{/}" style="position: absolute;left: 100px;top: 30px">退出</a></span>
            </th:block>

        </div>

    </div>

</div>

</body>

</html>
