<html>

<head>
    <title>
        登录
    </title>
    <link href="./layout.css" rel="stylesheet" type="text/css" />
</head>

<body background="../../../resources/login-bg.jpg" class="root">
    <!-- 标题栏 -->
    <div class="banner">
        <p class="banner-text">XXX制作小组</p>
    </div>
    <div class="main">
        <!-- 登陆类型选择 -->
        <div class="account-choose-box">
            <div style="height: 80px;width: 500px;">
                <div class="account-type" style="background-color: red;margin-right: 80px;margin-left: 40px;"></div>
                <div class="account-type" style="background-color: yellow;margin-right: 80px;"></div>
                <div class="account-type" style="background-color: blue;"></div>
            </div>
            <div style="margin-top: 50px;margin-left: 220px;">
                <p style="color: white;font-weight: bolder;font-size: x-large;">注册</p>
            </div>            
        </div>


    </div>
</body>

</html>