<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace很重要-->


<mapper namespace="dao.BorrowerMapper">
<!--配置二级缓存-->
    <cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"></cache>
    <select id="reserve" resultType="_int">
        select reserve(#{borrower_id},#{book_id},#{duration});
    </select>
</mapper>