<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title> 图书管理系统 </title>

    <script th:src="@{/js/jquery.min.js}" ></script>
    <script th:src="@{/js/afquery.js}" ></script>
    <link rel="stylesheet" th:href="@{/css/common.css?v=1.0}" />
    <link rel="stylesheet" th:href="@{/css/main.css?v=1.0}" />
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- layer.js 对话框API -->
    <script th:src="@{/layer/layer.js}" ></script>

    <style>
        .frame{

            height: 300px;
            width: 1300px;
            margin:10px auto;  /*让外框架水平居中*/


        }
        body{
            background-image:url("[[@{/img/background.png}]]");
            background-repeat:no-repeat;
        }
    </style>


</head>

<body >
<!--<div class='banner'>-->
<!--    图书管理系统-->
<!--</div>-->

<div th:include="~{common::header}" style="height: 200px"></div>
<script th:inline="javascript">
    document.getElementsByClassName("header")[0].style.height="100px";
</script>
<div class="frame" >
    
    <ul  class="list-group" style="width: 10%;margin-left: 2%;margin-top: 1%;float: left;">
        <a th:href="@{/borrower/info}">
            <li class="list-group-item">个人信息</li>
        </a>
        <a th:href="@{/borrower/queryBooks}">
            <li class="list-group-item">查询书籍</li>
        </a>
        <a th:href="@{/borrower/reservation}">
            <li class="list-group-item">预约信息</li>
        </a>
        <a th:href="@{/borrower/borrowInfo}">
            <li class="list-group-item">借书信息</li>
        </a>
    </ul>

    <div class="panel panel-default" style="width: 70%;margin-left: 2%;margin-top: 1%;float: left">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align:center">个人信息</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover" style="text-align:center">
                <thead>
                <tr>
                    <th>卡号</th>
                    <th>用户名</th>
                    <th>生日</th>
                    <th>性别</th>
                    <th>手机</th>
                    <th>已借书数量</th>
                    <th>修改信息</th>
                </tr>
                </thead>
                <tbody style="text-align: left">
                <tr>
                    <td th:text="${borrower.borrower_id}"></td>
                    <td th:text="${borrower.name}"></td>
                    <td th:text="${T(utility.database.DateFormat).simpleDate(borrower.birth)}"></td>
                    <td th:text="${borrower.sex? '女' : '男'}">  </td>
                    <td th:text="${borrower.tel}"></td>
                    <td th:text="${borrower.borrowedNum}"></td>
                    <td>
                        <button type="button" class="btn btn-info" th:onclick='update([[@{/borrower/updateInfo}]])'>修改</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>

<script>
update = function (url){
    location.href = url
}

</script>
</html>
